
body{font-size:14px;font-family:"Open sans",Helvetica,sans-serif;color:#FFF;background:#2e2b2b;}
header{position:absolute;top:0;left:0;right:0;z-index:1;height:80px;line-height:80px;border-bottom:1px solid #555555;background:#343131;}header h1{border-top:3px solid #2e2b2b;margin:0;font-size:1.5em;padding-left:1em;}
.main{position:absolute;bottom:0;left:0;right:0;top:80px;}
.tool-panel{width:250px;height:100%;background:#2e2b2b;border-right:1px solid #555555;color:#FFF;font-size:0.9em;}
.inner,.nav>li>a{padding:1.2em;}
.nav{list-style:none;padding:0;margin:0;}.nav>li>a{color:#DDD;display:block;border-bottom:1px solid #484444;}.nav>li>a:hover{-webkit-transition:background-color 0.2s linear;-moz-transition:background-color 0.2s linear;-o-transition:background-color 0.2s linear;-ms-transition:background-color 0.2s linear;transition:background-color 0.2s linear;background-color:#3b3737;}
.nav>li>a.active,.nav>li>a.active:hover{background:#3b3737;}.nav>li>a.active.site,.nav>li>a.active:hover.site{color:#FFF;}
.nav>li:first-child>a{border-top:1px solid #484444;}
.btn-set{line-height:35px;font-size:11px;}
.btn,.btn-group{display:inline-block;border-radius:2px;padding:0 12px;height:28px;line-height:28px;background:#353535;color:#FFF;border:1px solid #555555;font-size:11px;font-weight:700;text-decoration:none;}.btn:hover,.btn-group:hover{background:#424242;}
.btn-blue{background:none;color:#416efc;border-color:#416efc;}.btn-blue:hover{background:#416efc;color:#FFF;border-color:#5a81fc;}
.btn-caps{text-transform:uppercase;font-size:10px;}
.btn-group{position:relative;border:0;padding:0;height:30px;width:180px;display:inline-block;}.btn-group a{display:none;background:#353535;border:1px solid #555555;border-top:none;padding:0 12px;height:28px;overflow:hidden;}
.btn-group.expanded [data-list]>a{display:block;}.btn-group.expanded [data-list]>a[data-selected]{display:none;}
.btn-group [data-list]{position:absolute;top:100%;left:0;right:0;}
.btn-group>[data-selected]{display:block;padding-right:28px;border-top:1px solid #555555;border-radius:2px;}.btn-group>[data-selected]:after{content:"";position:absolute;right:0;top:1;height:28px;width:28px;margin-left:12px;background:url("/img/triangle.png") center no-repeat;border-left:1px solid #555555;opacity:0.8;}.btn-group:hover .btn-group>[data-selected]:after{opacity:1;}
.info-panel{height:100%;overflow:hidden;font-size:0.9em;width:0;opacity:0;border-right:1px solid #555555;-webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;-ms-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;}.info-panel.on{opacity:1;width:360px;border-color:#555555;}
.info-panel .inner{width:300px;margin:3em 2em;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;}
.info-panel h3{font-size:1em;}
.info-panel hgroup{margin-bottom:2em;}.info-panel hgroup>h2,.info-panel hgroup>h3{margin:0;font-weight:normal;}
.info-panel hgroup>h3{color:#CCC;line-height:1.5;}
.info-panel hgroup>.status{position:relative;}.info-panel hgroup>.status.site{color:#5d82f6;}
.info-panel hgroup>.status:before{position:absolute;font-size:3em;line-height:0.33;margin-right:3px;right:100%;content:"\00B7";}
.map{background:#555555;width:100%;height:200px;}
.stage{width:600px;height:100%;}
#container{height:100%;}
svg{width:100%;height:100%;}
line{stroke:#393535;stroke-width:1px;}
circle.tracker{stroke-width:0;fill:#E73547;}
circle.site{fill:#6CB4F9;stroke:#6CB4F9;stroke-width:4px;}
.row{width:1250px;}
.row:after{content:"";display:table;clear:both;}
.row>div{float:left;margin-right:20px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;}
.row>div:last-child{margin-right:0;}
